In [19]:
import pyspark
import pandas as pd
from pydataset import data
from pyspark.sql import functions as f

In [6]:
# create session
spark = pyspark.sql.SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/18 16:35:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/05/18 16:35:23 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [12]:
# creating spark data frame
df = spark.createDataFrame(pd.DataFrame({'language': ['python', 'sql', 'r', 'java', 'javascript', 'c', 'ruby']}))

In [13]:
df.printSchema()

root
 |-- language: string (nullable = true)

In [14]:
df.describe().show()

+-------+--------+
|summary|language|
+-------+--------+
|  count|       7|
|   mean|    null|
| stddev|    null|
|    min|       c|
|    max|     sql|
+-------+--------+

In [15]:
df.show(5)

+----------+
|  language|
+----------+
|    python|
|       sql|
|         r|
|      java|
|javascript|
+----------+
only showing top 5 rows

In [17]:
mpg = data('mpg')

In [18]:
# creating zpark df
df = spark.createDataFrame(mpg)

In [20]:
df.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

In [32]:
df.select(
    f.concat(f.lit('The '),
             f.expr('year'),
             f.lit(' '),
             f.expr('class'),
             f.lit(' '),
             f.expr('model'),
             f.lit(' has a '),
             f.expr('cyl'),
             f.lit(' cylinder engine.')
            ).alias('sentence')).show()

+--------------------+
|            sentence|
+--------------------+
|The 1999 compact ...|
|The 1999 compact ...|
|The 2008 compact ...|
|The 2008 compact ...|
|The 1999 compact ...|
|The 1999 compact ...|
|The 2008 compact ...|
|The 1999 compact ...|
|The 1999 compact ...|
|The 2008 compact ...|
|The 2008 compact ...|
|The 1999 compact ...|
|The 1999 compact ...|
|The 2008 compact ...|
|The 2008 compact ...|
|The 1999 midsize ...|
|The 2008 midsize ...|
|The 2008 midsize ...|
|The 2008 suv c150...|
|The 2008 suv c150...|
+--------------------+
only showing top 20 rows

In [40]:
df.select(df.trans.startswith('a')).show()

+--------------------+
|startswith(trans, a)|
+--------------------+
|                true|
|               false|
|               false|
|                true|
|                true|
|               false|
|                true|
|               false|
|                true|
|               false|
|                true|
|                true|
|               false|
|                true|
|               false|
|                true|
|                true|
|                true|
|                true|
|                true|
+--------------------+
only showing top 20 rows

In [45]:
df.select(
    f.when(df.trans.startswith('a'), 'auto').otherwise('manual').alias('transmission')
).show()

+------------+
|transmission|
+------------+
|        auto|
|      manual|
|      manual|
|        auto|
|        auto|
|      manual|
|        auto|
|      manual|
|        auto|
|      manual|
|        auto|
|        auto|
|      manual|
|        auto|
|      manual|
|        auto|
|        auto|
|        auto|
|        auto|
|        auto|
+------------+
only showing top 20 rows

In [46]:
# loading the tips data set
tips = data('tips')

In [47]:
# making a sparrk df
df = spark.createDataFrame(tips)

In [53]:
df.show(1)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
+----------+----+------+------+---+------+----+
only showing top 1 row

In [57]:
# hwrta percentage of the oberservations are smokers?
# smokers / totalobs * 100
df.select(
    f.when(df.smoker == 'Yes', 1)
).show()

+-----------------------------------+
|CASE WHEN (smoker = Yes) THEN 1 END|
+-----------------------------------+
|                               null|
|                               null|
|                               null|
|                               null|
|                               null|
|                               null|
|                               null|
|                               null|
|                               null|
|                               null|
|                               null|
|                               null|
|                               null|
|                               null|
|                               null|
|                               null|
|                               null|
|                               null|
|                               null|
|                               null|
+-----------------------------------+
only showing top 20 rows